<input type="text" placeholder="Pesquisar Professor pelo nome" [(ngModel)]="nomePesquisa" (input)="pesquisarProfessores()" />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Titulação</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professores">
      <td>{{ professor.id }}</td>
      <td>{{ professor.nome }}</td>
      <td>{{ professor.cpf }}</td>
      <td>{{ professor.titulacao }}</td>
      <td>
        <span *ngIf="professor.status">Ativo</span>
        <span *ngIf="!professor.status" class="instatus">Inativo</span>
      </td>
      <td>
        <button *ngIf="professor.status" (click)="editarProfessor(professor.id)">
          Editar
        </button>
        <button *ngIf="professor.status" (click)="excluirProfessor(professor.id)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/reativar-professor"><button>Reativar Professores</button></a>