<h2>Adicionar Aluno à Turma</h2>
<form (ngSubmit)="adicionarTurmaHasAluno()">
  <label>
    Turma:
    <select [(ngModel)]="relacao.id_turma" name="id_turma" required>
      <option *ngFor="let turma of turmas" [value]="turma.id">
        {{ turma.nome }}
      </option>
    </select>
  </label>

  <label>
    Aluno:
    <select [(ngModel)]="relacao.id_aluno" name="id_aluno" required>
      <option *ngFor="let aluno of alunos" [value]="aluno.id">
        {{ aluno.nome }}
      </option>
    </select>
  </label>

  <button type="submit">Adicionar Aluno</button>
</form>

<hr />