<div class="menu">
  <nav>
    <ul>
      <a routerLink="/adicionar-professor">Adicionar Professor</a>
      <br>
      <a routerLink="/adicionar-disciplina">Adicionar Disciplina</a>
      <br>
      <a routerLink="/adicionar-turma">Adicionar Turma</a>
      <br>
      <a routerLink="/adicionar-sala">Adicionar Sala</a>
      <br>
      <a routerLink="/adicionar-aluno">Adicionar Aluno</a>
      <br>
      <a routerLink="/adicionar-turma-has-aluno">Vincular alunos e turmas</a>
    </ul>
  </nav>
  <h2>Menu de listas</h2>
  <ul>
    <li><a routerLink="/disciplinas">Disciplinas</a></li>
    <li><a routerLink="/turmas">Turmas</a></li>
    <li><a routerLink="/professores">Professores</a></li>
    <li><a routerLink="/salas">Salas</a></li>
    <li><a routerLink="/alunos">Alunos</a></li>
    <li><a routerLink="/turma-has-alunos">turma has alunos</a></li>
  </ul>
</div>