<!-- adicionar-turma.component.html -->
<h2>Adicionar Turma</h2>
<form (ngSubmit)="adicionarTurma()">
  <label>
    Nome:
    <input [(ngModel)]="turma.nome" name="nome" required />
  </label>

  <label>
    Disciplina:
    <select [(ngModel)]="turma.id_disciplina" name="id_disciplina" required>
      <option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">
        {{ disciplina.nome }}
      </option>
    </select>
  </label>

  <label>
    Professor:
    <select [(ngModel)]="turma.id_professor" name="id_professor" required>
      <option *ngFor="let professor of professores" [value]="professor.id">
        {{ professor.nome }}
      </option>
    </select>
  </label>

  <label>
    Sala:
    <select [(ngModel)]="turma.id_sala" name="id_sala" required>
      <option *ngFor="let sala of salas" [value]="sala.id">
        {{ sala.nome }}
      </option>
    </select>
  </label>
  <div>
    <label for="dia_semana">Dia da Semana:</label>
    <select id="dia_semana" [(ngModel)]="turma.dia_semana" name="dia_semana" required>
      <option value="Segunda-feira">Segunda-feira</option>
      <option value="Terça-feira">Terça-feira</option>
      <option value="Quarta-feira">Quarta-feira</option>
      <option value="Quinta-feira">Quinta-feira</option>
      <option value="Sexta-feira">Sexta-feira</option>
    </select>
  </div>
  <div>
    <label for="horario_inicio">Horário de Início:</label>
    <input type="time" id="horario_inicio" [(ngModel)]="turma.horario_inicio" name="horario_inicio" required />
  </div>

  <div>
    <label for="horario_termino">Horário de Término:</label>
    <input type="time" id="horario_termino" [(ngModel)]="turma.horario_termino" name="horario_termino" required />
  </div>

  <button type="submit">Adicionar</button>
</form>